p, h1 {
     text-align: center;
}

 li:hover {

    background-color: red;
}

li:active {
    color:white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}